<%= form_for :like, url: like_path(@like.id), method: :delete, remote: true do |f| %>
  <div><%= hidden_field_tag :likeable_id, @object.id %></div>
  <div><%= hidden_field_tag :likeable_type, @object.class %></div>
  <%= f.submit t(".unlike_button"), class: "btn btn-danger" %>
<% end %>
<%= @object.likes.count %> likes
