<%= provide :title, t(".title") %>
<%= form_for @group, url: groups_path do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :about %>
    <%= f.text_area :about %>
  </div>

  <%= f.submit %>
<% end %>
