<%= provide :title, t(".title", name_group: @group.name) %>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="box">
        <div class="avatar-index">
          <%=cl_image_tag(current_user.avatar) %>
          <b><%= link_to current_user do %><%= current_user.fullname %><% end %></b>
        </div>
        <br>
        <div align="left">
          <%= link_to user_following_path(current_user) do %><i style="color:black" class="fa fa-address-book" aria-hidden="true"> Following</i><% end %>
        </div>
        <div align="left">
          <%= link_to user_follower_path(current_user) do %><i style="color:black" class="fa fa-address-book" aria-hidden="true"> Follower</i><% end %>
        </div>
        <div align="left">
          <%= link_to groups_path do %><i style="color:black" class="fa fa-users" aria-hidden="true"> Groups</i><% end %>
        </div>
        <% @groups.each do |group| %>
          <div class="group-show" align="left">
            <%= link_to group do %><i style="color:gray" class="fa fa-users" aria-hidden="true"><%= group.name %></i><% end %>
          </div>
        <% end %>
        <div align="left">
          <%= link_to new_group_path do %><i style="color:black" class="fa fa-users" aria-hidden="true"> Create New Group</i><% end %>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="box">
        <br>
        <% if @group.cover.present? %>
          <%= cl_image_tag(@group.cover, :width => 850, :height => 300) %>
        <% else %>
          <%= cl_image_tag("https://renderman.pixar.com/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png", :width => 850, :height => 300) %>
        <% end %>
        <br><br>
        <% if @gm.permission == 2 %>
          <%= link_to "Setting group", edit_group_path(@group), class: "btn btn-primary"%>
          <%= link_to "Show all request", group_requests_path(@group), class: "btn btn-success" %>
        <% end %>
        <% if @gm.nil? %>
          <h2>You aren't in <%= @group.name %> group</h2>
          Do you want to join this group???
          <%= form_for :group_member, url: group_members_path, remote: true do |f| %>
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= hidden_field_tag :group_id, @group.id %>
            <%= f.submit "Join", class: "btn btn-primary" %>
          <% end %>
        <% elsif @gm.permission == 0 %>
          <h2>Waiting for admin's approval</h2>
        <% else %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="status-upload nopaddingbtm">
                <%= render "new_form_status" %>
              </div>
            </div>
          </div>
          <% @statuses.reverse.each do |status| %>
          <% @status = status %>
          <div class="panel panel-default">
            <div class="btn-group pull-right postbtn">
              <button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="dots"></span> </button>
              <ul class="dropdown-menu pull-right" role="menu">
                <li><a href="javascript:void(0)">Hide this</a></li>
                <li><%= link_to "Delete", user_status_path(current_user.id, status.id), method: :delete, remote: true %></li>
              </ul>
            </div>
            <div class="col-md-12">
              <div class="media">
                <div class="media-left"> <a href="javascript:void(0)"> <%= cl_image_tag(status.user.avatar, class: "media-object") %> </a> </div>
                <div class="media-body">
                  <h4 align="left"><%= status.user.fullname %>
                    <small><i class="fa fa-clock-o"></i> <%= status.created_at %></small>
                    <button type="button" data-toggle="modal" data-target="#myModalStatus<%= status.id %>">Report</button>
                    <div id="myModalStatus<%= status.id %>" class="modal fade" role="dialog">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <%= form_for :report, url: user_status_reports_path(status.user.id, status.id) do |f| %>
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Report</h4>
                          </div>
                          <div class="modal-body">
                            <%= f.text_area :content, class: "form-control" %>
                          </div>
                          <div class="modal-footer">
                            <%= f.submit "Submit report" %>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </h4>
                  <p align="left"><%= status.content %></p>
                  <% status.images.limit(8).each do |image| %>
                    <div class="col-md-3">
                      <%= link_to cl_image_tag(image.link, alt: "image"), image_path(image.id) %>
                    </div>
                  <% end %>
                  <div class="clearfix"></div>
                  <br>
                  <%= render "statuses/like_form" %>
                </div>
              </div>
            </div>
            <div class="col-md-12 border-top">
              <div class="status-upload">
                <% @status_tmp = status %>
                <% @object = status %>
                <%= render "images/comment_form" %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
