<div class="col-md-12 border-top border-bottom">
  <ul class="nav nav-pills pull-left countlist" role="tablist">
    <li role="presentation">
      <h3><%= @user.request_accept_friend.count %><br>
        <small>Follower</small> 
      </h3>
    </li>
    <li role="presentation">
      <h3><%= @user.request_sending_friend.count %><br>
        <small>Following</small> 
      </h3>
    </li>
    <li role="presentation">
      <h3><%= @user.statuses.count %><br>
        <small>Post</small> 
      </h3>
    </li>
  </ul>

  <%= form_for @relationship, method: :delete, remote: true do |f| %>
    <%= hidden_field_tag :sender_id, current_user.id %>
    <%= hidden_field_tag :accepter_id, @user.id %>
    <%= f.submit "Unfollow", class: "btn btn-danger followbtn" %>
  <% end %> 
</div>
