<%= provide :title, t("profile") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center ">
      <div class="panel panel-default">
        <div class="userprofile social ">
          <div class="userpic"> <%= cl_image_tag(@user.avatar, class: "media-object-avatar-profile") %> </div>
          <h3 class="username"><%= @user.fullname %></h3>
          <p><%= @user.address %></p>
          <div class="socials tex-center"> <a href="" class="btn btn-circle btn-primary ">
            <i class="fa fa-facebook"></i></a> <a href="" class="btn btn-circle btn-danger ">
            <i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-circle btn-info ">
            <i class="fa fa-twitter"></i></a> <a href="" class="btn btn-circle btn-warning "><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <%= render "follow_form" %>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- /.col-md-12 -->
    <div class="col-md-4 col-sm-12 pull-right">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">Personal Details</h1>
          <p class="page-subtitle small">Limited information is visible</p>
        </div>
        <div class="col-md-12 photolist">
          <div class="row">
            <div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
            <div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
            <div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
            <div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">Worked with many domain</h1>
          <p class="page-subtitle small">Like to work fr different business</p>
        </div>
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item"><span class="fa fa-male"></span> Worked with 1000+ people</li>
            <li class="list-group-item"><span class="fa fa-institution"></span> 60+ offices</li>
            <li class="list-group-item"><span class="fa fa-user"></span> 50000+ satify customers</li>
            <li class="list-group-item"><span class="fa fa-clock-o"></span> Work hours many and many still counting</li>
            <li class="list-group-item"><span class="fa fa-heart"></span> Customer satisfaction for servics</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">What others are saying </h1>
          <p class="page-subtitle small">Express your self, Express to other</p>
        </div>
        <div class="col-md-12">
          <div class="media">
            <div class="media-left"> <a href="javascript:void(0)"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> </div>
            <div class="media-body">
              <h4 class="media-heading">Lucky Sans</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. 
            </div>
          </div>
          <div class="media">
            <div class="media-left"> <a href="javascript:void(0)"> 
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> 
            </div>
            <div class="media-body">
              <h4 class="media-heading">John Doe</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. 
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">Recently Connected</h1>
          <p class="page-subtitle small">You have recemtly connected with 34 friends</p>
        </div>
        <div class="col-md-12">
          <div class="memberblock">
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
              <div class="memmbername">Ajay Sriram</div>
            </a>
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
              <div class="memmbername">Rajesh Sriram</div>
            </a>
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
              <div class="memmbername">Manish Sriram</div>
            </a>
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
              <div class="memmbername">Chandra Amin</div>
            </a>
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
              <div class="memmbername">John Sriram</div>
            </a>
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
              <div class="memmbername">Lincoln Sriram</div>
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 pull-left posttimeline">
      <% if current_user == @user %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="status-upload nopaddingbtm">
            <%= render "new_form_status" %>
          </div>
        </div>
      </div>
      <% end %>
      <% @user.statuses.each do |status| %>
      <% @status = status %>
      <div class="panel panel-default">
        <div class="btn-group pull-right postbtn">
          <button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="dots"></span> </button>
          <ul class="dropdown-menu pull-right" role="menu">
            <li><a href="javascript:void(0)">Hide this</a></li>
            <li><a href="javascript:void(0)">Delete</a></li>
          </ul>
        </div>
        <div class="col-md-12">
          <div class="media">
            <div class="media-left"> <a href="javascript:void(0)"> <%= cl_image_tag(@user.avatar, class: "media-object") %> </a> </div>
            <div class="media-body">
              <h4 align="left"><%= @user.fullname %>
                <small><i class="fa fa-clock-o"></i> <%= status.created_at %></small>
                <button type="button" data-toggle="modal" data-target="#myModalStatus<%= status.id %>">Report</button>
                <div id="myModalStatus<%= status.id %>" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <%= form_for :report, url: user_status_reports_path(@user.id, status.id) do |f| %>
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Report</h4>
                      </div>
                      <div class="modal-body">
                        <%= f.text_area :content, class: "form-control" %>
                      </div>
                      <div class="modal-footer">
                        <%= f.submit "Submit report" %>
                      </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </h4>
              <p align="left"><%= status.content %></p>
              <% status.images.limit(8).each do |image| %>
                <div class="col-md-3">
                  <%= link_to cl_image_tag(image.link, alt: "image"), image_path(image.id) %>
                </div>
              <% end %>
              <div class="clearfix"></div>
              <br>
              <%= render "statuses/like_form" %>
            </div>
          </div>
        </div>
        <div class="col-md-12 border-top">
          <div class="status-upload">
            <% @status_tmp = status %>
            <% @object = status %>
            <%= render "images/comment_form" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
