<%= provide :title, t("profile") %>
<!-- <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-md-offset-3 col-lg-offset-3 toppad" >
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><%= current_user.fullname %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= form_for @user do |f| %>
          <div class="col-md-3 col-lg-3 " align="center">
            <%= cl_image_tag(@user.avatar, alt: "user_image") %>
            <%= f.file_field :avatar %>
          </div>
          <div class=" col-md-9 col-lg-9 "> 
            <table class="table table-user-information">
              <tbody>
                <tr>
                  <div class="form-group">
                    <%= f.text_field :email, placeholder: "Email...", class: "form-control", disabled: true %>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <%= f.text_field :fullname, placeholder: "Fullname...", class: "form-control" %>
                  </div>
                </tr>
                <tr>
                  <div class="form-group">
                    <td><%= f.label :sex %></td>
                    <td>
                      <%= f.label :sex, "Male", :value => "Male"  %>
                      <%= f.radio_button :sex, "Male", checked: true  %>
                      <%= f.label :sex, "Female", :value => "Female" %>
                      <%= f.radio_button :sex, "Female" %>
                      </td>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group">
                      <%= f.text_area :address, placeholder: "Address...", class: "form-control"%>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group">
                      <%= f.text_field :job, placeholder: "Job...", class: "form-control" %>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group">
                      <%= f.date_field :birthday, placeholder: "Email...", class: "form-control" %>
                    </div>
                  </tr>
                </tbody>
              </table>
              <div class="panel-footer">
                <% if @user == current_user %>
                  <%= f.submit %>
                  <div class="btn btn-danger">
                    <%= link_to "Delete", @user, method: :delete %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div> -->


<div class="container">
  <div class="row">
    <div class="col-md-12 text-center ">
      <div class="panel panel-default">
        <div class="userprofile social ">
          <div class="userpic"> <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="userpicimg"> </div>
          <h3 class="username"><%= @user.fullname %></h3>
          <p><%= @user.address %></p>
          <div class="socials tex-center"> <a href="" class="btn btn-circle btn-primary ">
            <i class="fa fa-facebook"></i></a> <a href="" class="btn btn-circle btn-danger ">
            <i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-circle btn-info ">
            <i class="fa fa-twitter"></i></a> <a href="" class="btn btn-circle btn-warning "><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <div class="col-md-12 border-top border-bottom">
          <ul class="nav nav-pills pull-left countlist" role="tablist">
            <li role="presentation">
              <h3><%= @user.request_accept_friend.count %><br>
                <small>Follower</small> 
              </h3>
            </li>
            <li role="presentation">
              <h3><%= @user.request_sending_friend.count %><br>
                <small>Following</small> 
              </h3>
            </li>
            <li role="presentation">
              <h3><%= @user.statuses.count %><br>
                <small>Post</small> 
              </h3>
            </li>
          </ul>
          <button class="btn btn-primary followbtn">Follow</button>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- /.col-md-12 -->
    <div class="col-md-4 col-sm-12 pull-right">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">Personal Details</h1>
          <p class="page-subtitle small">Limited information is visible</p>
        </div>
        <div class="col-md-12 photolist">
          <div class="row">
            <div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
            <div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
            <div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
            <div class="col-sm-3 col-xs-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="" alt=""> </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">Worked with many domain</h1>
          <p class="page-subtitle small">Like to work fr different business</p>
        </div>
        <div class="col-md-12">
          <ul class="list-group">
            <li class="list-group-item"><span class="fa fa-male"></span> Worked with 1000+ people</li>
            <li class="list-group-item"><span class="fa fa-institution"></span> 60+ offices</li>
            <li class="list-group-item"><span class="fa fa-user"></span> 50000+ satify customers</li>
            <li class="list-group-item"><span class="fa fa-clock-o"></span> Work hours many and many still counting</li>
            <li class="list-group-item"><span class="fa fa-heart"></span> Customer satisfaction for servics</li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">What others are saying </h1>
          <p class="page-subtitle small">Express your self, Express to other</p>
        </div>
        <div class="col-md-12">
          <div class="media">
            <div class="media-left"> <a href="javascript:void(0)"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> </div>
            <div class="media-body">
              <h4 class="media-heading">Lucky Sans</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. 
            </div>
          </div>
          <div class="media">
            <div class="media-left"> <a href="javascript:void(0)"> 
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> 
            </div>
            <div class="media-body">
              <h4 class="media-heading">John Doe</h4>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio. 
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="page-header small">Recently Connected</h1>
          <p class="page-subtitle small">You have recemtly connected with 34 friends</p>
        </div>
        <div class="col-md-12">
          <div class="memberblock">
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="">
              <div class="memmbername">Ajay Sriram</div>
            </a>
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
              <div class="memmbername">Rajesh Sriram</div>
            </a>
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
              <div class="memmbername">Manish Sriram</div>
            </a>
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
              <div class="memmbername">Chandra Amin</div>
            </a>
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
              <div class="memmbername">John Sriram</div>
            </a>
            <a href="" class="member">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
              <div class="memmbername">Lincoln Sriram</div>
            </a>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12 pull-left posttimeline">
      <% if current_user == @user %>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="status-upload nopaddingbtm">
              <%= render "new_form_status" %>
            </div>
          </div>
        </div>
      <% end %>
      <% @user.statuses.each do |status| %>
        <div class="panel panel-default">
          <div class="btn-group pull-right postbtn">
            <button type="button" class="dotbtn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <span class="dots"></span> </button>
            <ul class="dropdown-menu pull-right" role="menu">
              <li><a href="javascript:void(0)">Hide this</a></li>
              <li><a href="javascript:void(0)">Report</a></li>
            </ul>
          </div>
          <div class="col-md-12">
            <div class="media">
              <div class="media-left"> <a href="javascript:void(0)"> <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="media-object"> </a> </div>
              <div class="media-body">
                <h4 align="left"><%= @user.fullname %>
                  <small><i class="fa fa-clock-o"></i> <%= status.created_at %></small> 
                </h4>
                <p align="left"><%= status.content %></p>
                <ul class="nav nav-pills pull-left ">
                  <li><a href="" title=""><i class="glyphicon glyphicon-thumbs-up"></i> <%= status.likes.count %></a></li>
                  <li><a href="" title=""><i class=" glyphicon glyphicon-comment"></i><%= status.comments.count %></a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-12 border-top">
            <div class="status-upload">
              <% @status_tmp = status %>
              <% @object = status %>
              <%= render "images/comment_form" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>

